

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en-US">
<head>
    <title>title</title>
</head>
<body>
<div>
    <p>
        injammmmmm daaaadaaaa !!
    </p>
</div>
pppppppppppppppppppppppppppppppppppp
<h1>asghar injas</h1>
</body>
</html>