@using SearchWeb.Controllers
@{
    ViewData["Title"] = "Search completed";
}
<script>
</script>
<div class="text-center">
    <br>
    <br>
    <img src="~/css/search.png" alt="Our fantastic search logo" width="225" height="225">
    <br>
    <br>
    <p> :خوب مثل اینکه سرچ زدی .. اینم جوابش</p>

    <br>
    <br>
    <p>@ResultController.ResultString</p>

</div>
